<div class="four wide column center aligned stars">
  <div class="ui statistic">
    <div class="value"> {{ artigo.media() }} </div>
    <div class="label"> Média </div>
  </div>
</div>
<div class="twelve wide column">
  <a class="ui large header" href="{{ artigo.url }}"> {{ artigo.descricao }} </a>
  <ul class="ui big horizontal list starers">
    <li class="item"> <a href (click)="nota(1)"> <i class="star icon"></i>
      1 </a> </li>
    <li class="item"> <a href (click)="nota(2)"> <i class="star icon"></i>
      2 </a> </li>
    <li class="item"> <a href (click)="nota(3)"> <i class="star icon"></i>
      3 </a> </li>
    <li class="item"> <a href (click)="nota(4)"> <i class="star icon"></i>
      4 </a> </li>
    <li class="item"> <a href (click)="nota(5)"> <i class="star icon"></i>
      5 </a> </li>
  </ul>
</div>
